* {
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

 /* topbar  */

.topbar {
    height: 10px;
    background-color: #f1faee;
    display: grid;
    align-items: center;
    align-content: center; 
    font-size: 1.1rem;
    font-weight: 600px;
    grid-template-columns: 2.5fr 1fr;
    padding-top: 25px;
    padding-bottom: 25px;
}

.topleft ul {
    display: flex;
    align-items: center;
    align-content: center; 
    gap: 30px;
    list-style: none;
    padding-left: 10px;
}

.topright ul {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 30px;
    list-style: none;
    padding-right: 10px;
}

.contact {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.fa-envelope {
    color: #1a76d1;
}

.fa-phone {
    color: #1a76d1;
}


/* navbar */

.navbar {
    height: 70px;
    background-color: #f1faee;
    text-align: center;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    position: sticky;
    z-index: 1000;
}

.navbar:hover {
    border: 1px solid black;
}

.navbar-logo {
  background-image: url(mediplus-logo.png);
    width: 240px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
    
}

.navbar-info {
    align-items: center;
    align-content: center;
    margin-left: 75px;
}

.navbar-info ul {
    display: flex;
align-items: center;
align-content: center;
list-style: none;
justify-content: center;
gap: 40px;
font-size: 1rem;
font-weight: 800px;
}

.navbar-button {
    width: 160px;
    height: 50px;
    align-content: center;
    align-items: center;
    margin-top: 10px;
      margin-left: 100px;
      margin-bottom: 10px;
      background-color: #1a76d1;
      color: white;
      font-size: 1rem;
      font-weight: 800px;
      border: none;
      border-radius: 7px;
}
.navbar-button:hover {
    background-color: black;
}


/* display - section  > slider  */

.mainslide {
    position: relative;
}

.swiper {
    width: 100%;
    height: 600px;
}

.swiper-wrapper {
    width: 100%;
}
  
.textoverlay {
   position: absolute;
   right:40%;
   top:20%;
   z-index: 10000;
   position: fixed;
   padding-left: 100px;
   font-size: 24px;
}
 
.textoverlay h1 b{
    color: #1a76d1;
}

.textoverlay button{
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    border-radius: 7px;
    margin-top: 20px;
    
}

.btni {
    background-color: black;
    color: white;
}

.btni:hover {
    background-color: #1a76d1;
    color: white;
}

.btnii {
    background-color: #1a76d1;
    color: white;
}
.btnii:hover {
    background-color:black ;
    color: white;
}
 

/* 3ta nilo box  */

.threebox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
position: absolute;
gap: 30px;
z-index: 100;
 top: 20%;
margin-left: 10%;
margin-right: 10%;
/* margin-bottom: 10px; */
}

.box {
    background-color: #1a76d1;
    color: white;
    padding: 30px;
    border-radius: 8px;
    font-size: 1rem;
}
.box p{
    margin-top: 20px;
}

.box:hover {
transform: translateY(-10px);
box-shadow: 2px 45px 5px -29px rgb(187,224,255);
}


/* help section  */

.help {
    text-align: center;
    margin-top: 200px;
}

.help img {
    padding: 20px;
    width: 80px;
}

.help p {
    font-size: 1rem;
}

/* 3 ta help icon  */

.threeicon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    text-align: center;
    gap: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.helpbox {
    text-align: center;
}
 
.helpbox i{
    border-radius: 50%;
    background-color: #1a76d1;
    padding: 35px;
   font-size: 35px;
   color: white;
}   

.helpbox h2 {
margin-top: 25px;
}

.helpbox p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.helpbox i:hover {
background-color: beige;
color: #1a76d1;
}

/* subbanner with background image  */

.subbanner {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 130px;
    padding-bottom: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
margin-top: 90px;
height: 100px;
}
 
.subbanner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1; 
    background-color: #1a76d1;
    z-index: -1;

}.subbanner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../day6/background-image.jpg');
    opacity: 0.2; 
    z-index: -1;
    overflow: hidden;
}
 

.sub{
    display: flex;
    align-items: center;
}
.sub i{
    border-color:beige;
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    width:100px;
    height: 100px;
    color: beige;
    border-radius: 50%;
    margin-right: 20px;
}
.sub i:hover{
    background-color: beige;
    color: #1a76d1;
}
.sub h1{
    font-size: 2rem;
    color: beige;
}
.sub p{
    font-size: 1.1rem;
    color: beige;
}

/* arko help section  */

.service {
    text-align: center;
    margin-top: 100px;
}

.service img {
padding: 20px;
width: 80px;
}

.service p {
    font-size: 1rem;
}

/* about us section  */

.aboutus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
}
 
/* left wala div  */
.mathi hr{
    width:60px;
    height: 3px;
    border: none;
    background-color: #1a76d1;
}

.mathi p{
    font-size: 1rem;
   margin-top: 20px;
}

.listcontents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

}

.list{
    align-content: center;
    text-align: center;
    display: inline;
}

.lists ul{
    list-style: none;
    font-size: 1rem;
}

.lists ul li i{
    color: beige;
    background-color: #1a76d1;
    padding: 6px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 50%;
    font-size: 8px;
}

/* aba right wala div  */
.right-aboutus {
    width: 710px; 
    height: 400px; 
   
}

.right-aboutus img {
    width: 100%;
    height: auto; 
}

/* emergency wala section  */

  .emergency{
    position: relative;
    text-align: center;
    padding: 100px;
    color: beige;
    height: 200px;
   
}
.emergency::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../day6/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}
.emergency::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #1a76d1;
    z-index: -1;
}
 
 
.guff button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    border-radius: 5px;
    margin-top: 20px;   
}
.yo{
    border: none;
    color: #1a76d1;
    width: 150px;
    height: 50px;
}
.yo:hover{
    background-color:darkblue;
    color: beige;
}
.tyo i{
    padding-left: 10px;
}
.tyo{
    background-color: transparent;
    color: beige;
    border-color: beige;
    border-style: solid;
    margin-left: 20px;
    width: 170px;
    height: 50px;
}
.tyo:hover{
    background-color: beige;
    color: beige;
    
}
.guff p{
    font-size: 22px;
}
.guff h1{
    font-size: 2.2rem;
}