.main {
    height: 300px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0px;
    padding: 20px;
}
.one {
   
    border: 3px solid blue;
   
}
.two {
   
    border: 3px solid blue;
     
}
.three {
   
    border: 3px solid blue;
}
h1 {
     color: white;
    background-color: blue;
    margin-left: 30px;
    text-align: center;
     margin-right: 30px; 
     margin-bottom: 200px;
}
 h5{
    text-align: center;
 }
 .two h1 {
    margin-left: 92px;
    margin-right: 92px;
 }
 
 #navbar {
background-color: blue;
 }
 p{
    background-color: red;
 }
.fa-facebook{
    background-color: red;
    color: aqua;
}