* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: sans-serif;
}

/* .container {
    width: 80%;
    margin: 0 auto;
} */



.fulldiv {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
   
    /* padding: 20px; */
}

.leftdiv {
background-color:#00253e;
padding: 20px;
}
 
.logo{
    height: 50px;
    display: flex;
    color: beige;
    gap: 10px;
}

.logo h2{
margin-top: 10px;
}

.content {
    margin-left: 110px; 
    margin-top: 40px;
    color:beige ;
}
.content h1 {
    font-size: 40px         
   
}

.btn1 {
    background-color: #ef233c;
    color: beige;
    padding: 10px;
    width: 170px;
    height: 50px;
    font-size: 1.2rem;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 7px;
}

.btn1:hover {
    background-color: black;
    color: #ef233c;
    border-radius: 7px;
    border: 1px solid #ef233c;
}

.btn2 {
    background-color: beige;
    color: black;
    border: none;   
    border-radius: 7px;
    padding: 10px;
    width: 170px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 10px;

}

.btn2:hover {
    border: 1px solid beige;
    background-color: black;
    color: beige;
}

.rightdiv {
    background-color: #e9ecef;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 5px 5px #00253e;
}  

/* arko div hai  */

.arkodiv {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 250px;
    gap: 20px;
    margin-bottom: 20px;
}

.right {
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
    /* height: 330px; */
}
.left {
    justify-content: center;
    /* align-items: center;
    text-align: center; */
    padding-top: 130px;
    /* padding-left: 50px */
    margin-left: 60px;
    /* height: 400px; */
}

.left p{
    font-size: 1rem;
    font-weight: 600px;
}

.one {
    background-color: #ef233c;
    color: beige;
    padding: 10px;
    width: 170px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 7px;
}

.one:hover {
    background-color: beige;
    color: #ef233c;
    border: 1px solid #ef233c;
}

.two {
    color: beige;
    background-color: #00253e;
    padding: 10px;
    width: 170px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
}

.two:hover {
    background-color: beige;
    color: #00253e;
    border: 1px solid #00253e;
}

/* category section  */

.category {
    background-color: #1CBBB4;
    width: 100%;
    height: 700px;
    margin-top: 150px;
}

.heading {
    text-align: center;
    padding-top: 100px;
    color: beige;
    font-size: 1.5rem;
    /* font-weight: 4500px; */
}
 
.whole {
    margin-top: 80px;
    /* justify-content: space-around; */
    margin-left: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.whole h3 {
    color: beige;
    margin-top: 20px;
}

.box4 {
    margin-top: 92px;
}
.box5 {
    margin-top: 80px;
}
.box6 {
    margin-top: 80px;
}
 

/* arko div/section  */

.photo {
     margin-left: 150px;
     background-size: cover;
     background-repeat: no-repeat;
     height: 300px;
}

/* about us wala section */

.about-us {
    margin-top: 360px;
    text-align: center;
    padding: 20px;
}

.RM {
    width: 180px;
    height: 50px;
    background-color: #ef233c;
    color: beige;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
}

.RM:hover {
    background-color: beige;
    color: #ef233c;
    border: 1px solid #ef233c;
}


/* desktop view  */
/* @media screen  and (max-width: 1200px) {
   .main{
    grid-template-columns: 1fr 1fr   ; 
   }
}  */

 /* tablet view  */
/* @media screen  and (max-width: 767px) {
   .container {
    width: 90%;
   }
}  */


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* mobile view  */
/* @media screen and (max-width: 575px) {
     .container {
        width: 95%;
     }
} */


/* freelancer wala div  */


.full {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 70px;
}
 

.baya {
    padding-left: 80px;
    /* gap: 20px; */
}

.baya img {
    background-color: #00253e;
   
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 85px;
    height: 85px;
    border-radius: 50%;
    
}

.baya img:hover {
    background-color: #1CBBB4;
}

 .baya h1{
    font-weight: bolder;
}

.baya p1{
    color: #ef233c;
    font-size: 1.5rem;
    font-weight: bold;

}

.baya p2{
    color: #00253e;
    font-size: 1.5rem;
    font-weight: bold;
}
.divA {
    display: flex;
    margin-top: 40px;   
}
 

.divB {
    display: flex;
    margin-top: 20px;
}

.divC {
    display: flex;
    margin-top: 20px;
}

.divD {
    display: flex;
    margin-top: 20px;
}

.daya img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
}

.ek {
    margin-left: 30px;
    margin-top: 5px;
}


/* next div  */


.testimonial {
    margin-top: 100px;
}
.testimonial h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #00253e;
}

.explain {
    margin-top: 50px;
    width: 800px;
    height: 200px;
    background-color: #e9ecef;
    margin-left: 225px;
    text-align: center;
    padding: 50px;
     box-shadow: 10px 5px 5px #00253e;
}

.explain:hover {
    border: 1px solid #00253e;
}

.explain h2{
font-size: 1.7rem;
font-weight: bolder;
color: #00253e;
}


.explain p{
    color: #00253e;
    font-weight: 400px;
}

.fa-quote-left {
  font-size: xx-large;
  color: #00253e;
     
}

/* footer  */

.final-div {
    background-color: #00253e;
    height: 600px;
    width: 100%;
    margin-top: 120px;
}

/* final div ko bhitra top wala div  */
.top{
    display: flex;
    gap: 830px;
    padding-top: 50px;
}
.top-left {
    height: 50px;
    display: flex;
    color: beige;
    padding-left: 30px;
   
}

.top-left h2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.9rem;
}

 
.top-right {
    color: beige;
    font-size: xx-large;
    margin-top: 10px;
    /* justify-content: space-evenly; */
    display: flex;
    gap: 25px;
    
}

/* final div bhitra mid wala div  */

.mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    padding-left: 50px;
    
}

.useful h3{
    color: beige;
     font-size: 1.4rem;
     font-weight: bold;   
}

.useful p{
    color: beige;
     
}

.offices h3{
    color: beige;
    font-size: 1.4rem;
    font-weight: bold;
}
.offices p{
color: beige;
}

.information h3{
    color: beige;
    font-size: 1.4rem;
    font-weight: bold;
}
.information p{
    color: beige;
}

.newsletter h3{
    color: beige;
    font-size: 1.4rem;
    font-weight: bold;
}

.email-input {
    box-sizing: border-box;
    width: 250px;
    height: 38px;
}

.subs {
    width: 150px;
    height: 38px;
    color: beige;
    background-color: #ef233c;
    border-radius: 5px;
    border: 1px solid beige;
    font-size: 1rem;
}

.subs:hover {
    background-color: #00253e;
    color: #ef233c;
    border: 1px solid #ef233c;
}

/* final div bhitra lower div  */

.lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 130px;
    margin-left: 120px;
}

.location {
display: flex;
color: beige;
font-size: 1.2rem;
}

.mail {
display: flex;
color: beige;
font-size: 1.2rem;
}

.phone {
display: flex;
color: beige;
font-size: 1.2rem;
}

.fa-location-dot {
    font-size: 1.6rem;
}

.fa-envelope {
    font-size: 1.6rem;
}

.fa-phone-volume {
    font-size: 1.6rem;
}

.lower p{
    margin-left: 20px;
}


/* aba chai ekdam last wala footer  */

.copyright {
font-size: 1rem;
font-weight: bold;
height: 50px;
 
align-items: center;
text-align: center;
padding-top: 30px;
}